<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <h1> Add a todo item</h1>
        <form v-on:submit.prevent="addTodoItem">
            <input type="text" v-model.trim="todomsg">
            <button>Add</button>
        </form>
        <span>代办事项</span>
        <ul>
            <todo-item v-for="(item, index) in todos" v-bind:todoitem="item" v-bind:index="index"
                v-on:mchange="mchange(item, index)" v-bind:key="item.id" v-on:remove="remove(item, index)">

            </todo-item>
        </ul>
        <span>已办事项</span>
        <ul>
            <finished-item v-for="(item, index) in finishedItems" v-bind:finisheditem="item" v-bind:index="index"
                v-on:mmchange="mmchange(item, index)" v-bind:key="item.id" v-on:remove="remove(item, index)">

            </finished-item>
        </ul>
        <span>删除事项</span>
        <ul>
            <deleted-item v-for="(item, index) in deletedItems" v-bind:deleteditem="item" v-bind:index="index"
                v-bind:key="item.id" v-on:redo="redo(item, index)">

            </deleted-item>
        </ul>
    </div>



    <script src="./index.js"></script>
</body>

</html>